* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color: #000000;
    --color2: #fff;
    --accent-color: #0096ff;
    --accent-color-light: color-mix(in srgb, var(--accent-color) 90%, white 10%);
    --accent-color-lighter: color-mix(in srgb, var(--accent-color) 25%, white 75%);
    --complementary-color: #ff6900;
    --bg-color: #fff;
    --bg-color2: #e6e6e6;
    --bg-main-color: #E8E8E8;
    --table-line-color: #646464;
    --nav-bg-color: var(--accent-color);
    --nav-color: var(--bg-color);
    --nav-color2: var(--bg-color2);
}

::selection::not(nav) {
    color: var(--color2);
    background-color: var(--accent-color);
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto.ttf);
}

input {
    outline: none;
}

body {
    background-color: var(--bg-main-color);
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
}

error {
    display: none;
}

/* navigation */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: .5em;
    background-color: var(--nav-bg-color);
    &::selection {
        color: var(--nav-bg-color);
        background-color: var(--nav-color);
    }
}

nav > span {
    font-size: 2em;
    color: var(--nav-color);
    cursor: pointer;
    &:hover {
        color: var(--nav-color2);
    }
}

/* general */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 1em 3em;
    width: min-content;
    color: var(--color);
    background-color: var(--bg-main-color);
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1em;
    padding-top: 2.5em;
    border-radius: 1em;
    background-color: var(--bg-color);
}

.content-heading {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: .5em;
    width: 100%;
    border-top-left-radius: .43em;
    border-top-right-radius: .43em;
    color: var(--color2);
    background-color: var(--accent-color);
    font-size: 2em;
}

.content-heading-sec {
    margin-top: 0.5em;
    font-size: 1.5em;
}

.content-heading-thi {
    margin-top: 0.5em;
    font-size: 1.3em;
}

/* table */

table {
    margin-top: 1em;
    margin-bottom: 1em;
    gap: 0;
    border-spacing: 0;
    border-collapse: collapse;
    width: fit-content;
    max-width: 800px;
}

th, td {
    border: 1px solid var(--table-line-color);
    padding: 0.1em 0.5em;
    text-align: center;
}

tr:nth-child(even):not(.no-default-row-highlighting) {
    background-color: var(--accent-color-lighter);
}

.highlighted {
    background-color: var(--accent-color-light);
}

.not-highlighted {
    background-color: var(--bg-color);
}

.table-big-border-right {
    border-right: 2px solid var(--color);
}

/* converter */

.converter-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
}

.column-1 {
    grid-column: 1;
}

.column-3 {
    grid-column: 3;
}

.row-1 {
    grid-row: 1;
}

.margin-top-0 {
    margin-top: 0;
}

.input, .output {
    width: 100%;
    padding: 1em;
    border: 2px solid var(--table-line-color);
    border-radius: 0.5em;
    background-color: var(--accent-color-lighter);
    grid-row: 2;
    &:focus {
        border-color: color-mix(in srgb, var(--accent-color) 75%, white 25%);
    }
}

.input {
    grid-column: 1;
}

.output {
    grid-column: 3;
    cursor: not-allowed;
}

.converter-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
    grid-column: 2;
    grid-row: 2;
}

.swap-button, .convert-button {
    border: none;
    border-radius: 0.5em;
    padding: 0.15em;
    width: 50%;
    font-size: 1em;
    cursor: pointer;
    color: var(--color2);
    background-color: var(--accent-color);
    &:hover {
        background-color: var(--accent-color-light);
    }
}

/* number configurators */

.binary-button-container, .hex-button-container {
    display: flex;
    gap: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.binary-button, .hex-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 1em;
    width: 40px;
    height: 40px;
    color: var(--color2);
    background-color: var(--accent-color);
    font-size: 1.5em;
    cursor: pointer;
    &:hover {
        background-color: var(--accent-color-light);
    }
}

.binary-result, .hex-result {
    font-size: 1.5em;
}

/* color tester */

.hex-color-container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.hex-color-input {
    padding: 1em;
    border: 2px solid var(--color);
    border-radius: 0.5em;
    background-color: var(--bg-color2);
    grid-row: 2;
    &:focus {
        border-color: var(--bg-color4);
    }
}

.hex-color-preview {
    margin-left: 2em;
    border-radius: 2em;
    width: 50px;
    height: 50px;
    background-color: var(--accent-color);
}

/* images */

.complement-img {
    width: 15em;
}

/* responsive design */

@media screen and (max-width: 1300px) {
    body {
        font-size: unset;
    }
}

@media screen and (max-width: 1050px) {
    nav > span {
        font-size: 1.5em;
    }
}

/* only desktop */

@media screen and (max-width: 900px) {
    .content-container, nav {
        display: none;
    }
    error {
        display: flex;
        justify-content: center;
        color: red;
    }
}